.contact__wrapper3{
    width:100vw;
    height:100vh;
    background-color: var(--first);
    overflow:hidden;
    position: relative;
  }
  
  .cover__animation3{
    position:absolute;
    bottom:0;
    right:0;
    animation: openFromBottomLeft 1.5s ease-out both;
    background-color: var(--fifth);
    z-index:100;
  }
  
  .contact__form-h2{
    font-size:44px;
    color: var(--third);
    position: absolute;
    top:12%;
    left:15%;
  }
  
  .cover__left-fixed{ 
    background-color: var(--sixth);
    position: absolute;
    bottom: 0;
    right:0;
    width:100vw;
    height:100vh;
    animation:coverUp 0.8s ease-out both;
    z-index:20;
  }

  
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
  }

  .left__arrow{
    position: absolute;
    left:30%;
    top:93%;
    transform: translate(-50%,-50%);
    color: var(--second);
    z-index:100;
    animation: arrowAnimation 2s ease-out both infinite;
  }

  .left__arrow-p{
    position: absolute;
    left:35%;
    top: 93%;
    z-index:100;
    color: var(--second);
    font-weight: 700;
    font-size:14px;
    animation: arrowPAnimation 2s ease-out both infinite;
  }

  .right__arrow{
    position: absolute;
    right:30%;
    top: 93%;
    transform: translate(-50%,-50%);
    color: var(--second);
    z-index:100;
    animation: arrowAnimation 2s ease-out both infinite;
  }

  .right__arrow-p{
    position: absolute;
    right:35%;
    top: 93%;
    z-index:100;
    color: var(--second);
    font-weight: 700;
    font-size:14px;
    animation: arrowPAnimation 2s ease-out both infinite;
  }

  @keyframes arrowPAnimation{
    0%,100%{
      opacity:0;
    }
    25%{
      opacity:0;
      transform: scale(1.1);
    }
    50%{
      opacity:1;
      transform: scale(1.3);
    }
    75%{
      opacity:0;
      transform:  scale(1.1);
    }
  }
  
  @keyframes openFromBottomLeft{
      0%{
        height:100%;
        width:100%;
      }
      60%{
        height:100%;
        width:100%;
      }
      100%{
        height: 0%;
        width:0%;
      }
    }

    @keyframes arrowAnimation{
      0%,100%{
        opacity:0;
      }
      25%{
        opacity:0;
        transform: scale(1.5);
      }
      50%{
        opacity:1;
        transform: scale(2);
      }
      75%{
        opacity:0;
        transform:  scale(1.5);
      }
    }
@media screen and (max-width:1000px){
  .left__arrow{
    left:25%;
    top:93%;
  }

  .left__arrow-p{
    left:30%;
    top: 93%;
  }

  .right__arrow{
    right:25%;
    top: 93%;
  }

  .right__arrow-p{
    right:30%;
    top: 93%;
  }
}

@media screen and (max-width:600px){
  .left__arrow{
    left:27%;
    top:93%;
  }

  .left__arrow-p{
    left:34%;
    top: 93%;
    font-size:12px;
  }

  .right__arrow{
    right:27%;
    top: 93%;
    
  }

  .right__arrow-p{
    right:34%;
    top: 93%;
    font-size:12px;

  }
}
  