.contact__wrapper3{
    width:100vw;
    height:100vh;
    background-color: var(--first);
    overflow:hidden;
    position: relative;
  }
  
  .cover__animation3{
    position:absolute;
    bottom:0;
    right:0;
    animation: openFromBottomLeft 1.5s ease-out both;
    background-color: var(--fifth);
    z-index:100;
  }
  
  .contact__form-h2{
    font-size:44px;
    color: var(--third);
    position: absolute;
    top:12%;
    left:15%;
  }
  
  .cover__left-fixed{ 
    background-color: var(--sixth);
    position: absolute;
    bottom: 0;
    right:0;
    width:100vw;
    height:100vh;
    animation:coverUp 0.8s ease-out both;
    z-index:20;
  }

  .mySwiper{
    width:1400px;
    height:850px;
    position: absolute;
    top:5%;
    left:-15%;
    
  }
  
  .swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
  }

  .left__arrow{
    position: absolute;
    left:5%;
    top:10%;
    transform: translate(-50%,-50%);
    color:white;
    z-index:100;
    transform: scale(1.5);
    animation: arrowLeftAnimation 2s ease-out both infinite;
  }

  .right__arrow{
    position: absolute;
    right:5%;
    top:10%;
    transform: translate(-50%,-50%);
    color:white;
    z-index:100;
    transform: scale(1.5);
    animation: arrowRightAnimation 2s ease-out both infinite;
  }
  
  @keyframes openFromBottomLeft{
      0%{
        height:100%;
        width:100%;
      }
      60%{
        height:100%;
        width:100%;
      }
      100%{
        height: 0%;
        width:0%;
      }
    }

    @keyframes arrowRightAnimation{
      0%,100%{
        opacity:0;
      }
      25%{
        opacity:0;
        transform: scale(1.5);
      }
      50%{
        opacity:1;
        transform: scale(2);
      }
      75%{
        opacity:0;
        transform:  scale(1.5);
      }
    }
  
    @keyframes arrowLeftAnimation{
      0%,100%{
        opacity:0;
      }
      25%{
        opacity:0;
        transform: scale(1.5);
      }
      50%{
        opacity:1;
        transform:  scale(2);
      }
      75%{
        opacity:0;
        transform:  scale(1.5);
      }
    }
  