.arrows{
    animation:showArrows 2s ease-out
  }
  
  .arrow__up-p{
    z-index:10;
      position: absolute;
      top:17%;
      left:40%;
      font-size:24px;
      transform: translate(-50%,-50%);
      color: var(--second);
  }
  
    .arrow__up{
      z-index:10;
      width:130px;
      height:130px;  
      border:1px solid white;
      border-radius:5px;
      padding:1rem; 
      position: absolute;
      top:23%;
      left:40%;
      transform: translate(-50%,-50%);
      color: var(--second);
      -webkit-box-shadow: 13px 13px 10px 5px rgba(37, 1, 39, 1);
      -moz-box-shadow: 13px 13px 10px 5px rgba(37, 1, 39, 1);
      box-shadow: 13px 13px 10px 5px rgba(37, 1, 39, 1);
    }
  
    .arrow__down-p{
      position: absolute;
      top:41%;
      left:40%;
      font-size:24px;
      transform: translate(-50%,-50%);
      color: var(--second);
    }
  
    .arrow__down{
      z-index:10;
      width:130px;
      height:130px;  
      border:1px solid white;
      border-radius:5px;
      padding:1rem; 
      position: absolute;
      top:34%;
      left:40%;
      transform: translate(-50%,-50%);
      color: var(--second);
      -webkit-box-shadow: 13px 13px 10px 5px rgba(37, 1, 39, 1);
      -moz-box-shadow: 13px 13px 10px 5px rgba(37, 1, 39, 1);
      box-shadow: 13px 13px 10px 5px rgba(37, 1, 39, 1);
    }
  
    .pressKey{
      animation: arrowClicked 0.8s both;
    }
  
    .arrow__left-p{
      position: absolute;
      top:41%;
      left:22%;
      font-size:24px;
      transform: translate(-50%,-50%);
      color: var(--second);
      
    }
  
    .arrow__left{
      z-index:10;
      width:130px;
      height:130px;
      border:1px solid white;
      border-radius:5px;
      padding:1rem;  
      position: absolute;
      top:34%;
      left:22%;
      transform: translate(-50%,-50%);
      color: var(--second);
      -webkit-box-shadow: 13px 13px 10px 5px rgba(37, 1, 39, 1);
      -moz-box-shadow: 13px 13px 10px 5px rgba(37, 1, 39, 1);
      box-shadow: 13px 13px 10px 5px rgba(37, 1, 39, 1);
    }
  
  
    .arrow__right-p{
      position: absolute;
      top:41%;
      left:58%;
      font-size:24px;
      transform: translate(-50%,-50%);
      color: var(--second);
    }
  
    .arrow__right{
      z-index:10;
      width:130px;
      height:130px; 
      border:1px solid white;
      border-radius:5px;
      padding:1rem;  
      position: absolute;
      top:34%;
      left:58%;
      transform: translate(-50%,-50%);
      color: var(--second);
      -webkit-box-shadow: 13px 13px 10px 5px rgba(37, 1, 39, 1);
      -moz-box-shadow: 13px 13px 10px 5px rgba(37, 1, 39, 1);
      box-shadow: 13px 13px 10px 5px rgba(37, 1, 39, 1);
    }
  
  
    .second__phase-rect_p{
      font-size:22px;
      font-weight: 100;
      color:var(--third);
      z-index:10;
      position:absolute;
      top:10%;
      left:10%
    }
  
    /*2nd phase animations*/
  
    .second__phase-rect{
      position: absolute;
      top:25%;
      right:-5%;
      transform: rotate(30deg);
      width:50vw;
      height:150vh;
      background-color: var(--fifth);
      animation: openSecondPhase 1.5s ease-out;
      z-index:2;
    }

    @keyframes showArrows{
        0%{
          opacity:0;
        }
        70%{
          opacity:0;
        }
        100%{
          opacity:1;
        }
      }  
    
      @keyframes arrowClicked{
        0%, 100%{
          transform: translate(-50%, -50%);
        }
        50%{
          transform: translate(-42%, -42%);
          box-shadow: none;
        }
      }

      @keyframes openSecondPhase-2 {
        0%{
          height:0;
        }
        100%{
          height:40vh;
        }
      }

@media screen and (max-width:1600px) {
  .arrow__left, .arrow__right, .arrow__down, .arrow__up{
    width:110px;
    height:110px;
}    
.arrow__down-p, .arrow__left-p, .arrow__right-p{
  position: absolute;
  top:40%;
  font-size:22px;
}
} 

@media screen and (max-width: 1500px){

  .arrow__down-p{
    top:41%;
    left:40%;
  }

  .arrow__left-p{
    top:41%;
    left:22%;
}
.arrow__right-p{
  top:41%;
  left:58%;
}

@media screen and (max-width: 1400px){
  .arrow__right-p, .arrow__left-p, .arrow__down-p, .arrow__up-p{
    font-size:20px;
  }
  .arrow__left, .arrow__right, .arrow__down, .arrow__up{
    width:100px;
    height:100px;
}    
.arrow__up{
  top:23%;
  left:33%;
}
.arrow__up-p{
  top:17%;
  left:33%;

}
.arrow__down{
  top:34%;
  left:33%;
}
.arrow__down-p{
  top:42%;
  left:33%;
}
.arrow__left{
  top:34%;
  left:12%;
}
.arrow__left-p{
  top:42%;
  left:12%;
}
.arrow__right{
  top:34%;
  left:54%;
}
.arrow__right-p{
  top:42%;
  left:54%;
}
.second__phase-rect_p{
  font-size:18px;
}
.second__phase-rect{
  position: absolute;
  top:20%;
  right:-5%;
  transform: rotate(30deg);
  width:45vw;
  height:150vh;
  background-color: var(--fifth);
  animation: openSecondPhase 1.5s ease-out;
  z-index:2;
}
}

@media screen and (max-width:1250px){
  .second__phase-rect{
    position: absolute;
    top:20%;
    right:-3%;
    transform: rotate(25deg);
  }

  .arrow__right, .arrow__down, .arrow__left{
    -webkit-box-shadow: 10px 10px 8px 5px rgba(37, 1, 39, 1);
    -moz-box-shadow: 10px 10px 8px 5px rgba(37, 1, 39, 1);
    box-shadow: 10px 10px 8px 5px rgba(37, 1, 39, 1);
  }

  .arrow__up{
    top:23%;
    left:38%;
  }
  .arrow__up-p{
    top:16%;
    left:38%;
  
  }
  .arrow__down{
    top:34%;
    left:38%;
  }
  .arrow__down-p{
    top:42%;
    left:38%;
  }
  .arrow__left{
    top:34%;
    left:14%;
  }
  .arrow__left-p{
    top:42%;
    left:14%;
  }
  .arrow__right{
    top:34%;
    left:62%;
  }
  .arrow__right-p{
    top:42%;
    left:62%;
  }
}

@media screen and (max-width:1100px){

  .second__phase-rect_p{
    top:15%;
    left:5%;
    font-size:16px;
  }

  .second__phase-rect{
    position: absolute;
    top:10%;
    right:-10%;
    transform: rotate(15deg);
  }
    .arrow__left, .arrow__right, .arrow__down, .arrow__up{
    width:80px;
    height:80px;
}    
.arrow__left, .arrow__right, .arrow__down, .arrow__up{
  width:70px;
  height:70px;
}    
.arrow__up{
top:27%;
left:33%;
}
.arrow__up-p{
top:22%;
left:33%;
font-size:17px;
}
.arrow__down{
top:36%;
left:33%;
}
.arrow__down-p{
top:42%;
left:33%;
font-size:17px;
}
.arrow__left{
top:36%;
left:14%;
}
.arrow__left-p{
top:42%;
left:14%;
font-size:17px;
}
.arrow__right{
top:36%;
left:52%;
}
.arrow__right-p{
top:42%;
left:52%;
font-size:17px;
}
}

@media screen and (max-width:950px){
  .arrow__up{
    top:27%;
    left:33%;
    }
    .arrow__up-p{
    top:21%;
    left:33%;
    font-size:17px;
    }
    .arrow__down{
    top:37%;
    left:33%;
    }
    .arrow__down-p{
    top:44%;
    left:33%;
    font-size:17px;
    }
    .arrow__left{
    top:37%;
    left:12%;
    }
    .arrow__left-p{
    top:44%;
    left:12%;
    font-size:17px;
    }
    .arrow__right{
    top:37%;
    left:54%;
    }
    .arrow__right-p{
    top:44%;
    left:54%;
    font-size:17px;
    }
}

@media screen and (max-width:821px) {
  .second__phase-rect{
    display:none;
  }
}}