.counter__up p{
    font-size:40px;
    color:var(--first);
    z-index:100%;
    font-weight: 700;

    z-index:100;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.counter__down p{
    font-size:40px;
    color:var(--second);
    z-index:100%;
    font-weight: 700;

    z-index:100;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.counter__left p{
    font-size:40px;
    color:var(--second);
    z-index:100%;
    font-weight: 700;

    z-index:100;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.counter__right p{
    font-size:40px;
    color:var(--second);
    z-index:100%;
    font-weight: 700;

    z-index:100;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}