a{
    text-decoration: none;
    color:var(--second);
  }

  .mySwiper{
    width:1400px;
    height: 790px;
    position: absolute;
    top:5%;
    left:-15%;
  }

  .project__wrapper{
    position: relative;
    height: 100%;
    width:100%;
  }

  .close__icon{
    width:30px;
    height: 30px;
    fill: var(--second);
    position: absolute;
    top:20%;
    right:-10%;
    
  }

  .close__icon:hover{
    cursor: pointer; 
  }

  .project__desc-dep{
    z-index:1000;
    position: absolute;
    top:25%;
    left:50%;
    transform: translate(-50%,-50%);
    color:var(--forth);
     
  }

  .project__desc{
    margin-top:10rem;
    font-size:16px;
  }

  .project__dep{
    margin-bottom:4rem;
  }

  .project__links{
    display:flex;
    flex-direction: column;
    transition: 0.2s;
  }

  .project__links a{
    transition: 0.2s;
    cursor:pointer;
  }

  .project__links a:hover{
    transform: scale(1.1) translate(3%,3%);
  }

  .project__wrapper h3{
   position: absolute;
   top:0%;
   left:0%;
   width:100%;
   height:6vh;
   /* From https://css.glass */
background: rgba(0, 0, 0, 0.17);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(4.9px);
-webkit-backdrop-filter: blur(4.9px);
border: 1px solid rgba(0, 0, 0, 0.3);
   display:flex;
   align-items: center;
   justify-content: center;
   color: var(--second);
   font-size:26px;
  }

  .project__desc-click{
    position: absolute;
    bottom:15%;
    left:50%;
    transform: translate(-50%,-50%);
    padding:1.5rem;
    background: rgba(0, 0, 0, 0.6);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
backdrop-filter: blur(4.9px);
-webkit-backdrop-filter: blur(4.9px);
border: 1px solid rgba(0, 0, 0, 0.3);
color:var(--second);
z-index:200;
border-radius:5px;
z-index:100;
  }

.project__desc-click:hover{
  cursor:pointer;
  }

  .project__wrapper-modal{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(0, 0, 0, 0.6);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(4.9px);
    -webkit-backdrop-filter: blur(4.9px);
    animation: hoverModal 0.6s;
   }

   .lower__overflay{
    position: absolute;
    bottom: 0%;
    left:0%;
    width:110vw;
    height:10vh;
    background-color: rgba(0,0,0,0.6);
  }

@keyframes hoverModal {
  0%{
    opacity:0;
  }
  100%{
    opacity:1;
  }
}

@media screen and (max-width:1600px){
.mySwiper{
    width:1300px;
    height:731px;
    position: absolute;
    top:5%;
    left:-15%;
  }
}
@media screen and (max-width:1400px){
.mySwiper{
    width:1100px;
    height:620px;
    position: absolute;
    top:5%;
    left:-15%;
  }

  .project__desc{
    margin-top:0;
    padding-top:15rem;
    font-size:16px;
  }

  .close__icon{
    top:27%;
    right:-10%;  
  }
}
@media screen and (max-width:1100px){
.mySwiper{
    width:1200px;
    height:675px;
    position: absolute;
    transform: translate(-50%,-50%);
    top:50%;
    left:50%;
  }

  .lower__overflay{
    position: absolute;
    bottom: 0%;
    left:50%;
    display:flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%,0%);
    width:100vw;
    height:10vh;
    background-color: rgba(0,0,0,0.6);
  }

  .close__icon{
    top:25%;
    right:15%;  
  }
}

@media screen and (max-width:1000px){
  .mySwiper{
      width:1000px;
      height:565px;
      position: absolute;
      transform: translate(-50%,-50%);
      top:50%;
      left:50%;
    }

    .project__desc{
      margin-top:0;
      padding-top:17rem;
      font-size:14px;
    }

    .project__desc p{
      font-size:14px
    }
  
    .close__icon{
      top:31%;
      right:-5%;  
    }
  }

@media screen and (max-width:600px){
  .mySwiper{
      width:800px;
      height:450px;
      position: absolute;
      transform: translate(-50%,-50%);
      top:50%;
      left:50%;
    }

    .project__desc-click{
      bottom:-35%;
    }

    .project__desc{
      padding-top:16rem;
      padding-left:1rem;
      padding-right:1rem;
      font-size:14px;
    }

    .project__dep{
      padding:0 1rem;
    }

    .project__links{
      font-size:14px;
      padding:0 1rem;
    }

    .project__dep{
      margin-bottom:2rem;
    }

    .close__icon{
      top:35%;
      right:5%;  
    }
  }
